@model IEnumerable<NTierMvcCustomerSystem.Model.CallNote>

@{
    ViewBag.Title = "Note Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NoteDetails</h2>

<p>
    @Html.ActionLink("New Note", "AddNote", new { }) |
    @Html.ActionLink("Add Child Note", "AddChildNote", new { })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteContent)
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteContent)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChildCallNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildCallNotes[0].NoteTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildCallNotes[0].NoteContent)
            </th>
        </tr>

        foreach (var element in item.ChildCallNotes)
        {
            <tr>
                <th></th>
                <th>
                    @Html.DisplayFor(elementItem => element.NoteTime)
                </th>
                <th>
                    @Html.DisplayFor(elementItem => element.NoteContent)
                </th>
            </tr>
        }

    }
</table>

<div>
    @Html.ActionLink("Back to Details", "Details", new { id = ViewBag.Id })
</div>
